// bg
$--bg-color-000000: #000000;
$--bg-color-000033: #000033;
$--bg-color-000066: #000066;
$--bg-color-000099: #000099;
// border
$--border-color-000000: #000000;
$--border-color-000033: #000033;
$--border-color-000066: #000066;
$--border-color-000099: #000099;
// font
$--font-color-000000: #000000;
$--font-color-000033: #000033;
$--font-color-000066: #000066;
$--font-color-000099: #000099;